if SHIELD_MINORITY_DONGLE

config ZMK_KEYBOARD_NAME
    default "Minority 52"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MINORITY_LEFT || SHIELD_MINORITY_RIGHT || SHIELD_MINORITY_DONGLE

config ZMK_SPLIT
    default y

endif
