# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MINORITY_LEFT

config ZMK_KEYBOARD_NAME
    default "Minority 52"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MINORITY_LEFT || SHIELD_MINORITY_RIGHT

config ZMK_SPLIT
    default y

endif
